// Colors main
$tim--white: #FFF;
$tim--black: #000;

$tim--main: #00A8E8;
$tim--secondair: #FFF;
$tim--tertiar: #003459;

$tim--main-text: #003459;
$tim--secondair-text: #003459;

$tim--button-main: #003459;
$tim--button-secondair: #FFF;

$tim--title: #00171F;

// Colors Millman
$millman--blue: #0080C5;
$millman--green: #46D160;
$millman--red: #FF4343;

// Font-weights
$regular: 400;
$semi-bold: 500;
$heavy: 700;
