// Colors main
$tim--white: #FFF;
$tim--black: #000;
$tim--main: #525252;
$tim--secondair: #E7E3E3;

// Colors Millman
$millman--blue: #0080C5;
$millman--green: #46D160;
$millman--red: #FF4343;

// Font-weights
$regular: 400;
$semi-bold: 500;
$heavy: 700;
