@import '~@/variables/colors.scss';
@import '~@/variables/breakpoints.scss';

.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $tim--white;
    z-index: 3;
    cursor: pointer;
    opacity: .4;
    transition-duration: 500ms;
    position: absolute;
    bottom: 50px;

    &:hover, &:focus {
        opacity: 1.0;
        transition-duration: 500ms;
    }

    &__icon {
        font-size: 3rem !important;
    }

    @media only screen and (max-width: $tablet) {
            padding: 20px 26px 0px;
            bottom: 40px;
        }
}

.scroll-up {
    display: block;
    cursor: pointer;
    opacity: .3;
    transition-duration: 500ms;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 4rem !important;
    color: $tim--black;
    z-index: 1;

    @media only screen and (max-width: $tablet) {
        position: relative;
        font-size: 3rem !important;
        background: $tim--main;
        color: $tim--white;
        border-radius: 46px;
        width: 50px;
        padding: 6px 26px;
        margin: 0 auto 50px;
    }

	&:hover, &:focus {
		opacity: 1.0;
		transition-duration: 500ms;
    }
}