// Colors
$tim--white: #FFF;
$tim--black: #000;
$tim--main: #525252;
$tim--secondair: #E7E3E3;

// Font-weights
$regular: 400;
$semi-bold: 500;
$heavy: 700;



$phone-small: 380px;
	// 'phone': 400px,
	// 'phone-wide': 480px,
	// 'phablet': 560px,
	// 'tablet-small': 640px,
	$tablet: 768px;
	$tablet-wide: 1024px;
	// 'desktop': 1248px,
	// 'desktop-hd': 1290px,
	// 'desktop-wide': 1440px,
	// 'desktop-large': 1920px


